{
  "pid": "bw.resource.jdbc.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "bw.resource.jdbc",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "bw.resource.jdbc.1ddbeb41-bfa1-4469-80ae-e7d63264beef",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}