{
  "pid": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat.e466f66c-58aa-417f-af6c-2e67ce1b280f",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}